// 
// variables
//

$debug: false !default;

// font families
$fonts: (
    'opensans': (
        300: 'opensans-light',
        400: 'opensans-regular',
        700: 'opensans-bold'
     ),
    'oswald': (
        400: 'oswald-regular',
        700: 'oswald-bold'
    ),
    'oswald-book': (
        400: 'oswald-book'
    )
);

// default fonts
$default-font: opensans;
$default-font-fallback: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

// default title
// $title-font: nth($fonts, 4);
$title-font: oswald;