// 
// global variables
//

$debug: false !default;
$debug: true;

// 
// configuration
// ----------------
@import 'config/breakpoints'; // modifications -> editing app/config/breakpoints.json
@import 'config/icons'; // modifications -> adding/deleting source files
@import 'config/images'; // modifications -> adding/deleting source files
@import 'config/font-sizes'; // modifications -> editing app/config/font-sizes.json
@import 'config/colors-default'; // modifications -> editing app/config/colors-default.json
@import 'config/colors'; // modifications -> manual: editing app/config/colors.json


// 
// fonts
// ----------------

// font families
$fonts: (
    'opensans': (
        300: 'opensans-light',
        400: 'opensans-regular',
        600: 'opensans-semibold',
        700: 'opensans-bold',
        800: 'opensans-extrabold'
     ),
    'oswald': (
        400: 'oswald-regular',
        700: 'oswald-bold'
    ),
    'oswald-book': (
        400: 'oswald-book'
    )
);

// default fonts
$default-font: opensans;
$default-font-fallback: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

// default heading fonts
$heading-font: oswald;

// font sizes (mirrors _font-sizes.scss values)
$font-size-micro:           nth(map-get($font-sizes, micro), 1);
$font-size-tiny:            nth(map-get($font-sizes, tiny), 1);
$font-size-xxx-small:       nth(map-get($font-sizes, xxx-small), 1);
$font-size-xx-small:        nth(map-get($font-sizes, xx-small), 1);
$font-size-x-small:         nth(map-get($font-sizes, x-small), 1);
$font-size-small:           nth(map-get($font-sizes, small), 1);
$font-size-normal:          nth(map-get($font-sizes, normal), 1);
$font-size-medium:          nth(map-get($font-sizes, medium), 1);
$font-size-medium-large:    nth(map-get($font-sizes, medium-large), 1);
$font-size-large:           nth(map-get($font-sizes, large), 1);
$font-size-x-large:         nth(map-get($font-sizes, x-large), 1);
$font-size-xx-large:        nth(map-get($font-sizes, xx-large), 1);
$font-size-xxx-large:       nth(map-get($font-sizes, xxx-large), 1);
$font-size-huge:            nth(map-get($font-sizes, huge), 1);
$font-size-x-huge:          nth(map-get($font-sizes, x-huge), 1);
$font-size-xx-huge:         nth(map-get($font-sizes, xx-huge), 1);
$font-size-xxx-huge:        nth(map-get($font-sizes, xxx-huge), 1);
$font-size-massive:          nth(map-get($font-sizes, massive), 1);
$font-size-gigantic:        nth(map-get($font-sizes, gigantic), 1);
$font-size-humongous:       nth(map-get($font-sizes, humongous), 1);

//  default font size
$font-size-default:     $font-size-xx-small;

// line-height default
$line-height-default: 1.2;


// 
// colors
// ----------------

// defaul color names (mirrors _colors-default.scss values)
$black:             nth(map-get($colors-default, black), 1);
$nero:              nth(map-get($colors-default, nero), 1);
$charcoal:          nth(map-get($colors-default, charcoal), 1);
$dim-grey:          nth(map-get($colors-default, dim-grey), 1);
$dark-grey:         nth(map-get($colors-default, dark-grey), 1);
$light-grey:        nth(map-get($colors-default, light-grey), 1);
$very-light-grey:   nth(map-get($colors-default, very-light-grey), 1);
$gainsboro:         nth(map-get($colors-default, gainsboro), 1);
$white:             nth(map-get($colors-default, white), 1);

// project color names (mirrors _colors.scss values)
$dark-goldenrod:    nth(map-get($colors, dark-goldenrod), 1);
$moon-yellow:       nth(map-get($colors, moon-yellow), 1);
$turbo:             nth(map-get($colors, turbo), 1);
$lucky-point:       nth(map-get($colors, lucky-point), 1);
$dark-slate-blue:   nth(map-get($colors, dark-slate-blue), 1);
$myrtle:            nth(map-get($colors, myrtle), 1);
$falu-red:          nth(map-get($colors, falu-red), 1);
$turkish-rose:      nth(map-get($colors, turkish-rose), 1);
$scarlett:          nth(map-get($colors, scarlett), 1);
$siren:             nth(map-get($colors, siren), 1);
$pohutukawa:        nth(map-get($colors, pohutukawa), 1);
$eternity:          nth(map-get($colors, eternity), 1);
$oil:               nth(map-get($colors, oil), 1);
$orange-peel:       nth(map-get($colors, orange-peel), 1);
$safety-orange:     nth(map-get($colors, safety-orange), 1);
$tawny:             nth(map-get($colors, tawny), 1);
$radical-red:       nth(map-get($colors, radical-red), 1);
$husk:              nth(map-get($colors, husk), 1);

// link colors
$link-colors: (
    'link':         $orange-peel,
    'visited':      $husk,
    'hover':        $tawny,
    'active':       $radical-red
);

// form elements colors
$field-colors: (
    field: (
        color:          $white,
        background:     $pohutukawa,
        border:         $turkish-rose
    ),
    hover: (
        color:          $white,
        background:     $white,
        border:         rgba($white, 0.7)
    ),
    active: (
        color:          $white,
        background:     $scarlett,
        border:         rgba($white, 0.7),
        shadow:         2px 2px 4px 0 rgba($scarlett, 0.4) // pass the whole shadow parameters
    )
);

// error color
$error-color: $safety-orange;

// button colors
$btn-colors: (
    default: (
        color:                  $white,
        background:             $siren,
        border:                 rgba($white, 0.32),
        icon:                   rgba($white, 0.32),
        hover-color:            $white,
        hover-background:       rgba($white, 0.08),
        hover-border:           rgba($white, 0.7),
        hover-icon:             rgba($white, 0.7)
    ),
    reset: (
        color:                  rgba($white, 0.32),
        background:             $siren,
        border:                 rgba($white, 0.10),
        hover-color:            $white,
        hover-background:       rgba($white, 0.08),
        hover-border:           $white
    )
);


// 
// transitions
// ----------------

// default transitions
$default-duration: 300ms;
$default-delay: 100ms;


// 
// layout
// ----------------
$site-max-width: 1280px;
$panel-padding-x-small: 0 48px;
$panel-padding-small:   0 54px;
$panel-padding-medium:  0 106px;
$panel-padding-large:   0 142px;
$image-url:             '../img/';