@import '../breakpoints.json';

// 
// variables
// 
$debug: true;

// 
// plugins
// 
@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";

// 
// mixins
// 

//mediaQueries info
@mixin queryInfo($breakpoints:$breakpoints) {
    
    @if $debug == true {
        &:after {
            padding: 0.2rem;
            right: 0;
            bottom: 0;
            color: #fff;
            display: block;
            background-color: #000000;
            position: fixed;
            z-index: 200;
            @each $breakpoint in map_keys($breakpoints) {
                @include breakpoint(map-get($breakpoints, $breakpoint)) {
                    content: "#{$breakpoint} - #{map-get($breakpoints, $breakpoint)}";
                }
            }
        }
    }
}

body {
    @include queryInfo();
}



