 // Configuration
@import "config/variables";

// 
// fonts
// 

@each $font in map_keys($fonts) {

    @each $font-size in map_keys(map-get($fonts, $font)) {
        
        $_font-name: map-deep-get($fonts, $font, $font-size);

        @font-face {
            font-family: '#{$font}';
            src: url('../fonts/#{$_font-name}.eot');
            src: url('../fonts/#{$_font-name}.eot?#iefix') format('embedded-opentype'),
                 url('../fonts/#{$_font-name}.woff') format('woff'),
                 url('../fonts/#{$_font-name}.ttf') format('truetype'),
                 url('../fonts/#{$_font-name}.svg##{$_font-name}') format('svg');
            font-weight: $font-size;
            font-style: normal;
        }

    }
}