# Project source
node_modules
docs
print
ui
resources
_old
app/config/auth.json

# Compiled files
app/config/icons.json
app/config/images.json
app/scss/config/_breakpoints.scss
app/scss/config/_icons.scss
app/scss/config/_images.scss
app/scss/config/_font-sizes.scss
app/scss/config/_colors-default.scss
app/scss/config/_colors.scss
app/css/
app/js/app.js
app/js/webfont.js
app/js/loader.js
app/img/icons/icons.svg
app/img/*.jpg
app/img/*.png
app/img/*.svg
app/reference/*.html
app/reference/js/
app/reference/css/
dist/css
dist/js

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
