# Project source
node_modules
docs
print
ui
resources
_old
app/js/lib/

# Compiled files
app/css/
app/config/icons.json
app/img/icons.svg

# Compiled source
*.com
*.class
*.dll
*.exe
*.o
*.so

# Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip