// 
// layout
//

// set breakpoints to EMS
@if($debug != true) {
    @include breakpoint-set('to ems', true);
}

html, body {
    height: 100%;
}

body {
    // helps panel navigation visuals
    .js & {
        overflow: hidden;
    }

    // transition: all 300ms ease-in 0ms;

    // test mediaQueries
    @include queryInfo();
}

// main
.main {
    height: 100%;
    position: relative;

    // helps panel navigation visuals
    .js & {
        overflow: hidden;
    }
}

%panel-hpadding {
    $_hSpace: getPercentageFrom(
        nth($panel-padding-x-small, 2), 
        map-get($breakpoints, x-small)
    );
    padding: 0 $_hSpace;
    @include breakpoint(map-get($breakpoints, small)) {
        $_hSpace: getPercentageFrom(
            nth($panel-padding-small, 2), 
            map-get($breakpoints, small)
        );

        padding: 0 $_hSpace;
    }
    @include breakpoint(map-get($breakpoints, medium)) {
        $_hSpace: getPercentageFrom(
            nth($panel-padding-medium, 2), 
            map-get($breakpoints, medium)
        );

        padding: 0 $_hSpace;
    }
    @include breakpoint(map-get($breakpoints, large)) {
        $_hSpace: nth($panel-padding-large, 2);

        padding: 0 $_hSpace;
        max-width: prem($site-max-width);
    }
}

// panel
.panel {
    width: 100%;
    height: 100%;
    position: relative;

    // panel__detail
    &__detail {
        margin: 0 auto;
        left: 50%;
        top: 50%;
        width: 100%;
        position: absolute;
        transform: translate(-50%, -50%);
        z-index: 1;
        @extend %panel-hpadding;
    }
}

// footer
.footer {
    @include hidden;
}

// column-lists
.column-list {
    @include breakpoint((orientation landscape)) {
        column-count: 2;
        column-gap: prem(18px);
    }

    @include breakpoint(map-get($breakpoints, small)) {
        column-gap: prem(22px);
    }
    
    // set two columns for 600px and beyond
    @include breakpoint(prem(600px)) {
        column-count: 2;
    }

    @include breakpoint(map-get($breakpoints, medium)) {
        column-gap: prem(30px);
    }

    @include breakpoint(map-get($breakpoints, large)) {
        column-gap: prem(40px);
    }

    @include breakpoint($site-max-width (orientation landscape)) {
        column-gap: prem(80px);
    }
    
    // column-list__item
    &__item {
        width: 100%;
        display: inline-block;
        break-inside: avoid;
    }
}