// 
// layout
//

// override debug mode
$debug: true;

// set breakpoints to EMS
@include breakpoint-set('to ems', true);

html, body {
    height: 100%;
    @include queryInfo();
}

body {
    // helps panel navigation visuals
    .js & {
        overflow: hidden;
    }

    transition: all 300ms ease-in 0ms;
}


// main
.main {
    height: 100%;
    position: relative;

    // helps panel navigation visuals
    .js & {
        overflow: hidden;
    }
}

// panel
.panel {
    padding: prem(12px, 16px);
    height: 100%;
    position: relative;

    border: 5px dashed black;
    background-color: lightgreen;

}

.footer {
    @include hidden;
}