// 
// typography
//

html {
    font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// headings
h1, h2, h3, h4, h5, h6 {
    &:first-child {
        margin-top: 0;
    }
}

// paragraphs
p {
    &:last-child {
        margin-bottom: 0;
    }
}