// 
// Contact Panel Styles
//

// contact
.contact {

}


// nav-contact-menu
.nav-contact-menu {

    // nav-contact-menu__list
    &__list {
        margin: 0;
    }
}

// contact-menu
.contact-menu {

    // contact-menu__item
    &__item {
        margin: 0;
        padding: 0;
        
        // remove default bullet list
        &:before {
            display: none;
        }
    }
}