// 
// Contact Panel Styles
//

// contact
.contact {
}


// nav-contact-menu
.nav-contact-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @include breakpoint((orientation landscape)) {
        justify-content: flex-start;
    }

    @include breakpoint(map-get($breakpoints, large)) {
        flex-flow: column;
    }

    // nav-contact-menu__list
    &__list {
        margin: 0;
    }
}

// get-in-touch
.get-in-touch {
    margin-right: prem(-4px); // adjusts to button margins
    margin-left: prem(-4px); // adjusts to button margins
    text-align: center;
    flex-shrink: 0;

    // get-in-touch__item
    &__item {
        margin: 0;
        padding: 0;

        // remove default bullet list
        &:before {
            display: none;
        }
    }
}

// contact-menu
.contact-menu {
    margin: prem(7px) prem(12px) ;
    flex-shrink: 0;
    font-size: 0;
    line-height: 0;
    text-align: center;

    // background-color: lightblue;
    @include breakpoint((orientation landscape)) {
        margin-top: 0;
        margin-bottom: 0;
    }

    @include breakpoint(map-get($breakpoints, small)) {
        margin: prem(10px) prem(14px);
        @include breakpoint((orientation landscape)) {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    @include breakpoint(map-get($breakpoints, medium)) {
        margin: prem(10px) prem(18px);
        @include breakpoint((orientation landscape)) {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    @include breakpoint(map-get($breakpoints, large)) {
        margin: prem(20px) 0;
    }


    // contact-menu__item
    &__item {
        $_icon-width: 30px;
        $_icon-height: 30px;

        margin: 0 0 0 prem(2px);
        padding: 0;
        display: inline-block;

        &:first-child {
            margin-left: 0;
        }
        
        // remove default bullet list
        &:before {
            display: none;
        }

        // contact-menu__item-link
        &-link {
            width: prem($_icon-width);
            height: prem($_icon-height);
            display: inline-block;
            @include remove-text;
        }

        // contact-menu__item-icon
        &-icon {
            left: 0;
            top: 0;
            width: 100%;
            position: absolute;

            width: prem($_icon-width);
            height: prem($_icon-height);
            fill: $white;
            opacity: 0.4;
                
            // contact-menu__item-link:link contact-menu__item-icon...
            .contact-menu__item-link:link &,
            .contact-menu__item-link:visited & {
                opacity: 0.4;
            }

            // contact-menu__item-link:hover contact-menu__item-icon...
            .contact-menu__item-link:hover &,
            .contact-menu__item-link:active &,
            .contact-menu__item-link:focus & {
                opacity: 0.8;
            }
        }

        @include breakpoint(map-get($breakpoints, small)) {
            $_icon-width: 33px;
            $_icon-height: 33px;

            margin: 0 0 0 prem(4px);

            // contact-menu__item-link
            &-link {
                width: prem($_icon-width);
                height: prem($_icon-height);
            }

            // contact-menu__item-icon
            &-icon {
                width: prem($_icon-width);
                height: prem($_icon-height);
            }
        }

        @include breakpoint(map-get($breakpoints, medium)) {
            $_icon-width: 46px;
            $_icon-height: 46px;

            margin: 0 0 0 prem(5px);

            // contact-menu__item-link
            &-link {
                width: prem($_icon-width);
                height: prem($_icon-height);
            }

            // contact-menu__item-icon
            &-icon {
                width: prem($_icon-width);
                height: prem($_icon-height);
            }
        }

        @include breakpoint(map-get($breakpoints, large)) {
            $_icon-width: 64px;
            $_icon-height: 64px;

            margin: 0 0 0 prem(9px);

            // contact-menu__item-link
            &-link {
                width: prem($_icon-width);
                height: prem($_icon-height);
            }

            // contact-menu__item-icon
            &-icon {
                width: prem($_icon-width);
                height: prem($_icon-height);
            }
        }
    }
}

// form-panel
.form-panel {
    .js & {
        top: 0;
        left: 100%;
        z-index: 10;
        position: absolute;

        // form-panel--opened
        &--opened {
            left: 0%;
        }
        
        // form-panel-content-wrapper
        &-content-wrapper {
            padding-top: prem(30px);
            padding-bottom: prem(30px);
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            overflow: auto;
        }
    }
    
    // form-panel-close-btn
    &-close-btn {
        $_button-width: prem(36px);
        $_button-height: prem(36px);
        $_button-padding: prem(2px);

        right: prem(11px);
        top: prem(11px);
        width: $_button-width;
        height: $_button-height;
        border-style: none;
        cursor: pointer;
        position: absolute;
        opacity: 0.4;
        display: block;
        background-color: transparent;
        @include no-highlight;
        @include remove-text;

        &:hover,
        &:active,
        &:focus {
            opacity: 0.8;
        }
        
        // form-panel-close-btn__icon
        &__icon {
            left: $_button-padding;
            top: $_button-padding;
            width: $_button-width - ($_button-padding * 2);
            height: $_button-height - ($_button-padding * 2);
            fill: $white;
            position: absolute;
        }

        @include breakpoint(map-get($breakpoints, small)) {
            $_button-width: prem(40px);
            $_button-height: prem(40px);

            right: prem(13px);
            top: prem(13px);
            width: $_button-width;
            height: $_button-height;

            // form-panel-close-btn__icon
            &__icon {
                width: $_button-width - ($_button-padding * 2);
                height: $_button-height - ($_button-padding * 2);
            }
        }

        @include breakpoint(map-get($breakpoints, medium)) {
            $_button-width: prem(44px);
            $_button-height: prem(44px);

            right: prem(15px);
            top: prem(15px);
            width: $_button-width;
            height: $_button-height;

            // form-panel-close-btn__icon
            &__icon {
                width: $_button-width - ($_button-padding * 2);
                height: $_button-height - ($_button-padding * 2);
            }
        }

        @include breakpoint(map-get($breakpoints, large)) {
            $_button-width: prem(48px);
            $_button-height: prem(48px);

            right: prem(19px);
            top: prem(19px);
            width: $_button-width;
            height: $_button-height;

            // form-panel-close-btn__icon
            &__icon {
                width: $_button-width - ($_button-padding * 2);
                height: $_button-height - ($_button-padding * 2);
            }
        }
    }
}