// 
// Footer Styles
//

// footer
.footer {
    // footer-signature
    &-signature {
        left: prem(14px);
        bottom: prem(8px);
        position: absolute;

        @include breakpoint(map-get($breakpoints, small)) {
            left: prem(16px);
        }

        @include breakpoint(map-get($breakpoints, medium)) {
            left: prem(24px);
            bottom: prem(17px);
        }

        @include breakpoint(map-get($breakpoints, large)) {
            left: prem(30px);
            bottom: prem(21px);
        }

    }

    // footer-logo-img
    &-logo-img {
        $_img-width: nth(map-get($images, logo-footer), 1);
        $_img-height: nth(map-get($images, logo-footer), 2);

        width: prem($_img-width);
        height: auto;
        opacity: 0.44;

        @include breakpoint(map-get($breakpoints, small)) {
            $_img-width: 129px;

            width: prem($_img-width);
        }

        @include breakpoint(map-get($breakpoints, medium)) {
            $_img-width: 185px;

            width: prem($_img-width);
        }

        @include breakpoint(map-get($breakpoints, large)) {
            $_img-width: 246px;

            width: prem($_img-width);
        }
    }
}