// 
// home styles
// 

// icon test
@each $icon in map_keys($icons) {
    .#{$icon} {
        width: #{nth(map-get($icons, $icon), 1)};
        height: #{nth(map-get($icons, $icon), 2)};
    }
}

// 
// skills
// 
.skills {
    padding: 0;
    list-style: none;

    background-color: lightblue;

    // skills__item
    &__item {
        background-color: orange;
    }
}