// 
// home styles
// 

// icon test
@each $icon in map_keys($icons) {
    .#{$icon} {
        width: #{nth(map-get($icons, $icon), 1)};
        height: #{nth(map-get($icons, $icon), 2)};
    }
}

// 
// panels
// 
.panel {
    // panel layout styles defined as part of _layout.scss

    // bottom title
    &:after {
        content: attr(title);
        right: 0;
        bottom: 0;
        font-weight: bold;
        font-size: prem(60px, 16px);
        letter-spacing: -0.1rem;
        text-transform: uppercase;
        position: absolute;
        display: block;
    }

    // panel__signature
    &__signature {
        left: 0;
        bottom: 0;
        position: absolute;
    }
}


// 
// main menu
// 
.nav-mein-menu {
}

// 
// utilities menu
// 
.nav-util-menu {
    display: none;
}

// 
// section navigation
// 
.nav-section {
    margin: 0;
    padding: 0;

    // nav-section__link
    &__link {
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        position: absolute;

        // nav-section__link--prev
        &--prev {
            top: 0;
            bottom: auto;
        }
    }
}

// 
// skills
// 
.skills {
    left: 0;
    top: 50%;
    width: 100%;
    padding: 0;
    list-style: none;
    background-color: lightblue;
    position: absolute;
    transform: translateY(-50%);

    // skills__item
    &__item {
        padding: 0 prem(10px, 16px);
        position: relative;
        display: flex !important;
        align-items: center;
        justify-content: center;
        background-color: red;
        
        // skills__item-content
        &-content {
            max-width: prem(800px, 16px);
        }

    }
}

// 
// work
//
.work {
    @extend .skills;

    // skills__item
    &__item {
        @extend .skills__item;
    }
}