// 
// Home Panel Styles
//

// site-heading
.site-heading {
    padding-bottom: prem(15px);

    @include breakpoint(map-get($breakpoints, small)) {
        padding-bottom: prem(19px);
    }

    @include breakpoint(map-get($breakpoints, medium)) {
        padding-bottom: prem(23px);
    }
}

// site-logo
.site-logo {
    $_transition-duration: 450ms;

    padding: 0 getPercentageFrom(11px, 224px);
    // background-color: lightblue;

    @include breakpoint(map-get($breakpoints, medium)) {
        padding: 0;
    }

    // setting site-logo width to accommodate portrait logo on large landscape screens, see below
    @include breakpoint(map-get($breakpoints, large) (min-height 768px) (orientation landscape)) {
        $_target-width: getPercentageFrom(424px, 740px); // logo width, available space (1024px - paddings 142px * 2) - from design 
        
        margin: 0 auto;
        width: $_target-width;
    }

    // site-logo__img-set
    &__img-set {
        $_img-width: nth(map-get($images, logo), 1);
        $_img-height: nth(map-get($images, logo), 2);

        padding: 0 0 percentageHeightRatio($_img-width, $_img-height);
        width: 100%;
        height: 0;
        position: relative;
        transition: padding $_transition-duration ease-out 0ms;

        // background-color: lightgreen;
        @include breakpoint((orientation landscape)) {
            $_img-width: nth(map-get($images, logo-landscape), 1);
            $_img-height: nth(map-get($images, logo-landscape), 2);

            padding: 0 0 percentageHeightRatio($_img-width, $_img-height);
        }

        // although landscape, switch to 'portrait logo set' depending on screen height, see below and above
        @include breakpoint(map-get($breakpoints, large) (min-height 768px) (orientation landscape)) {
            $_img-width: nth(map-get($images, logo), 1);
            $_img-height: nth(map-get($images, logo), 2);
            
            padding: 0 0 percentageHeightRatio($_img-width, $_img-height);
            width: 100%;
        }

    }

    // site-logo-img
    &-img {
        left: 50%;
        top: 50%;
        width: 100%;
        // width: getPercentageFrom(202px, 224px);
        height: auto;
        display: block;
        position: absolute;
        transform: translate(-50%, -50%);
        @include transitions($_transition-duration, ease-out, 0ms, (
            width,
            height,
            opacity
        ));

        // background-color: lightcoral;

        @include breakpoint((orientation landscape)) {
            opacity: 0;
            width: 0;
        }

        // site-logo-img--landscape
        &--landscape {
            opacity: 0;
            width: 0;
            
            @include breakpoint((orientation landscape)) {
                opacity: 1;
                width: 100%;
                height: auto;
            }
        }

        // although landscape, switch to 'portrait logo' depending on screen height, see above
        @include breakpoint(map-get($breakpoints, large) (min-height 768px) (orientation landscape)) {
            opacity: 1;
            width: 100%;

            // background-color: pink;

            // site-logo-img--landscape
            &--landscape {
                opacity: 0;
                width: 0;
            }
        }
    }
}

// cover
.cover {

    // cover__content
    &__content {
        font-size: prem($font-size-medium);
        letter-spacing: -0.028em;
        line-height: 1.1;
        color: $oil;
        text-align: center;
        text-shadow: 1px 1px 0 $turbo;

        @include breakpoint(map-get($breakpoints, small)) {
            font-size: prem($font-size-medium-large);
            letter-spacing: -0.032em;
        }

        @include breakpoint(map-get($breakpoints, medium)) {
            padding: 0 prem(52px);
        }

        @include breakpoint(map-get($breakpoints, large)) {
            padding: 0 prem(80px);
            font-size: prem($font-size-xxx-large);
            letter-spacing: -0.040em;
        }

    }

}
