// 
// Loader
//
.pace {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    opacity: 1;
    position: absolute;
    z-index: 100;
    transition: opacity 250ms ease-in 0ms;
    
    // ensure nothing is shown before the script loads
    @at-root body:before {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        background-color: inherit;
        z-index: 100;
    }

    // display: none;
    @at-root body#{&}:before {
        display: none;
    }
    
    // pace-running
    &-running {
        @at-root body#{&}:before {
            display: none;
        }
    }
    
    // pace-done
    &-done {
        @at-root body#{&}:before {
            display: none;
        }

        & .pace {
            opacity: 0;
        }
    }
    
    // pace-progress
    &-progress {
        left: 0;
        bottom: 0;
        height: prem(2px); 
        position: absolute;
        background-color: rgba($white, 0.5);
    }
    
    // pace-activity
    &-activity {
        $_animation-params: 1000ms linear 0ms infinite forwards;
        $_border-props: prem(5px) solid;
        $_border-color: rgba($white, 0.65);
        $_dim-color: rgba($white, 0.16);

        width: prem(50px);
        height: prem(50px);
        border-top: $_border-props $_border-color;
        border-right: $_border-props $_dim-color;
        border-bottom: $_border-props $_dim-color;
        border-left: $_border-props $_dim-color;
        border-radius: 100%;
        animation: loading-icon-ani $_animation-params;
    }
}

@keyframes loading-icon-ani {
    0% {
        transform: rotate(0deg);
    }

    99.9% {
        transform: rotate(360deg);
    }
}