// 
// navigation styles
// 


// menu-toggle
.menu-toggle {
    $_transition-duration: $default-duration;
    $_button-width: prem(42px);
    $_button-height: prem(42px);

    padding: 0 prem(2px) 0 prem(1px);
    right: prem(12px);
    top: prem(7px);
    width: $_button-width;
    height: $_button-height;
    border-style: none;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    background-color: transparent;
    @include no-highlight;
    @include remove-text;

    // background-color: pink;

    @include breakpoint(map-get($breakpoints, small)) {
        $_button-width: prem(46px);
        $_button-height: prem(46px);

        right: prem(14px);
        top: prem(9px);
        width: $_button-width;
        height: $_button-height;
    }

    &:active {
        transform: scale(0.95);
    }
    
    // menu-toggle__icons
    &__icons {
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        z-index: 1;
        overflow: visible;
        opacity: 1;
        transform: translate(-50%, -50%);

        @include transitions($_transition-duration, ease-out, 0ms, (
            width,
            height,
            opacity
        ));

        // menu-toggle--active menu-toggle__icons
        .menu-toggle--active & {
            width: 0;
            height: 0;
            overflow: hidden;
            opacity: 0;
        }

        // menu-toggle__icons--close
        &--close {
            width: 0;
            height: 0;
            overflow: hidden;
            opacity: 0;
            z-index: 0;

            // background-color: orange;

            // menu-toggle--active menu-toggle__icons--close
            .menu-toggle--active & {
                width: 100%;
                height: 100%;
                overflow: visible;
                opacity: 1;
            }
        }
    }

    // menu-toggle-icon
    &-icon {
        padding: 0 prem(2px) 0 prem(1px);
        top: 50%;
        left: 0;
        width: 100%;
        height: auto;
        position: absolute;
        transform: translateY(-50%);

        // menu-toggle:hover menu-toggle-icon
        // menu-toggle:focus menu-toggle-icon
        // menu-toggle:active menu-toggle-icon
        .menu-toggle:hover &,
        .menu-toggle:focus &, 
        .menu-toggle:active & {
            opacity: 0;
        }

        // menu-toggle-icon--hover
        &--hover {
            opacity: 0;
            
            // menu-toggle:hover menu-toggle-icon--hover
            // menu-toggle:focus menu-toggle-icon--hover
            // menu-toggle:active menu-toggle-icon--hover
            .menu-toggle:hover &,
            .menu-toggle:focus &, 
            .menu-toggle:active & {
                opacity: 1;
            }
        }

        // menu-toggle-icon--close
        // menu-toggle-icon--close-hover
        &--close,
        &--close-hover {
            padding: 0 prem(8px) 0 prem(6px);
        }

        // menu-toggle-icon--close-hover
        &--close-hover {
            opacity: 0;

            // menu-toggle:hover menu-toggle-icon--close-hover
            // menu-toggle:focus menu-toggle-icon--close-hover
            // menu-toggle:active menu-toggle-icon--close-hover
            .menu-toggle:hover &,
            .menu-toggle:focus &, 
            .menu-toggle:active & {
                opacity: 1;
            }
        }
    }
}

// 
// main menu
// ----------------

// nav-main-menu
.nav-main-menu {
    // display: none;

    @include breakpoint(map-get($breakpoints, medium)) {
        text-align: center;
        display: block;
    }

    // main-menu__list
    &__list {
        margin: 0;
        padding: 0;
    }
}

// main-menu
.main-menu {


    background-color: pink;
    // display: inline-block;
    // @include clearFix;
    @include breakpoint(map-get($breakpoints, medium)) {
        display: flex;
        justify-content: center;
    }

    // main-menu__item
    &__item {
        margin: 0;
        // float:left;
        // display: inline-block;

        background-color: lightblue;

        @include breakpoint(map-get($breakpoints, medium)) {
            margin: 0 prem(10px);

            &:nth-child(2) {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        @include breakpoint(map-get($breakpoints, large)) {
            margin: 0 prem(12px);
        }

        &:before {
            display: none;
        }

        // main-menu__item--home
        &--home {
            @include breakpoint(map-get($breakpoints, medium)) {
                @include hidden(false);
            }
        }

        // main-menu__item-link
        &-link {
            padding: prem(19px) 0 prem(13px);
            font: normal #{prem($font-size-normal)}/#{$line-height-default} oswald;
            letter-spacing: 0;
            text-align: center;
            text-transform: uppercase;
            text-decoration: none;
            display: block;
            border-bottom: 1px solid rgba($white, 0.2);

            @include breakpoint(map-get($breakpoints, medium)) {
                padding: 0 prem(4px);
                font-family: oswald-book;
                font-size: prem($font-size-medium);
                border-style: none;
            }

            @include breakpoint(map-get($breakpoints, large)) {
                padding: 0 prem(8px);
                font-size: prem($font-size-x-huge);
            }

            &:link,
            &:visited {
                color: $white;
                background-color: $charcoal;
                @include breakpoint(map-get($breakpoints, medium)) {
                    color: $eternity;
                    background-color: transparent;
                }
            }

            &:active,
            &:hover,
            &:focus {
                color: $nero;
                background-color: $white;
                @include breakpoint(map-get($breakpoints, medium)) {
                    color: $white;
                    background-color: transparent;
                }
            }
        }

        // main-menu__item-icon
        &-icon {
            // icons are squares at this moment
            // therefore these calculations are not needed,
            // this is just for demonstration purposes 
            $_icon-width: nth(map-get($icons, ui-icon-menu-about), 2);
            $_icon-height: nth(map-get($icons, ui-icon-menu-about), 2);

            fill: $eternity;
            display: none;

            @include breakpoint(map-get($breakpoints, medium)) {
                margin: 0 auto prem(3px);
                width: prem($_icon-width);
                height: prem($_icon-height);
                display: block;

                .main-menu__item-link:hover &,
                .main-menu__item-link:active &,
                .main-menu__item-link:focus & {
                    fill: $white;
                }
            }

            @include breakpoint(map-get($breakpoints, large)) {
                $_new-width: 72px;
                $_new-height: stretchBySize($_icon-width, $_icon-height, $_new-width);

                width: prem($_new-width);
                height: prem($_new-height);
            }

        }

        // main-menu__item-text
        &-text {
            font-weight: normal;
        }
    }
}


// utilities menu
.nav-util-menu {
    display: none;
}

// panel navigation
.nav-panel {
    margin: 0;
    padding: 0;

    // nav-panel__link
    &__link {
        $_icon-width: prem(40px);
        $_icon-height: $_icon-width;
        $_icon-border-width: 10px;

        left: 50%;
        bottom: prem(10px);
        transform: translateX(-50%);
        position: absolute;
        
        @extend %remove-text;

        &:before {
            content: "";
            left: 0;
            top: -$_icon-border-width;
            width: $_icon-width;
            height: $_icon-height;
            border: $_icon-border-width solid darkslategrey;
            border-bottom-style: none;
            border-left-style: none;
            display: block;
            transform: rotate(135deg);
            transform-origin: center center;
            position: absolute;
        }

        &:after {
            content: "";
            width: $_icon-width;
            height: $_icon-height;
            display: block;
        }

        // nav-panel__link--prev
        &--prev {
            top: prem(10px);
            bottom: auto;

            &:before {
                top: $_icon-border-width;
                transform: rotate(-45deg);
            }
        }

        // avoid firing hash navigation
        // js nav-panel__link
        .js & {
            pointer-events: none;
        }
    }
}