// 
// navigation styles
// 

// menu-toggle
.menu-toggle {
    $_transition-duration: $default-duration;
    $_button-width: prem(42px);
    $_button-height: prem(42px);

    padding: 0 prem(2px) 0 prem(1px);
    right: prem(12px);
    top: prem(7px);
    width: $_button-width;
    height: $_button-height;
    border-style: none;
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    background-color: transparent;
    @include no-highlight;
    @include remove-text;

    // background-color: pink;

    @include breakpoint(map-get($breakpoints, small)) {
        $_button-width: prem(46px);
        $_button-height: prem(46px);

        right: prem(14px);
        top: prem(9px);
        width: $_button-width;
        height: $_button-height;
    }

    &:active {
        transform: scale(0.95);
    }
    
    // menu-toggle__icons
    &__icons {
        top: 50%;
        left: 50%;
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        z-index: 1;
        overflow: visible;
        opacity: 1;
        transform: translate(-50%, -50%);

        @include transitions($_transition-duration, ease-out, 0ms, (
            width,
            height,
            opacity
        ));

        // menu-toggle--active menu-toggle__icons
        .menu-toggle--active & {
            width: 0;
            height: 0;
            overflow: hidden;
            opacity: 0;
        }

        // menu-toggle__icons--close
        &--close {
            width: 0;
            height: 0;
            overflow: hidden;
            opacity: 0;
            z-index: 0;

            // background-color: orange;

            // menu-toggle--active menu-toggle__icons--close
            .menu-toggle--active & {
                width: 100%;
                height: 100%;
                overflow: visible;
                opacity: 1;
            }
        }
    }

    // menu-toggle-icon
    &-icon {
        padding: 0 prem(2px) 0 prem(1px);
        top: 50%;
        left: 0;
        width: 100%;
        height: auto;
        position: absolute;
        transform: translateY(-50%);

        // menu-toggle:hover menu-toggle-icon
        // menu-toggle:focus menu-toggle-icon
        // menu-toggle:active menu-toggle-icon
        .menu-toggle:hover &,
        .menu-toggle:focus &, 
        .menu-toggle:active & {
            opacity: 0;
        }

        // menu-toggle-icon--hover
        &--hover {
            opacity: 0;
            
            // menu-toggle:hover menu-toggle-icon--hover
            // menu-toggle:focus menu-toggle-icon--hover
            // menu-toggle:active menu-toggle-icon--hover
            .menu-toggle:hover &,
            .menu-toggle:focus &, 
            .menu-toggle:active & {
                opacity: 1;
            }
        }

        // menu-toggle-icon--close
        // menu-toggle-icon--close-hover
        &--close,
        &--close-hover {
            padding: 0 prem(8px) 0 prem(6px);
        }

        // menu-toggle-icon--close-hover
        &--close-hover {
            opacity: 0;

            // menu-toggle:hover menu-toggle-icon--close-hover
            // menu-toggle:focus menu-toggle-icon--close-hover
            // menu-toggle:active menu-toggle-icon--close-hover
            .menu-toggle:hover &,
            .menu-toggle:focus &, 
            .menu-toggle:active & {
                opacity: 1;
            }
        }
    }
}

// main menu
.nav-main-menu {
    display: none;
}

// utilities menu
.nav-util-menu {
    display: none;
}

// panel navigation
.nav-panel {
    margin: 0;
    padding: 0;

    // nav-panel__link
    &__link {
        $_icon-width: prem(40px);
        $_icon-height: $_icon-width;
        $_icon-border-width: 10px;

        left: 50%;
        bottom: prem(10px);
        transform: translateX(-50%);
        position: absolute;
        
        @extend %remove-text;

        &:before {
            content: "";
            left: 0;
            top: -$_icon-border-width;
            width: $_icon-width;
            height: $_icon-height;
            border: $_icon-border-width solid darkslategrey;
            border-bottom-style: none;
            border-left-style: none;
            display: block;
            transform: rotate(135deg);
            transform-origin: center center;
            position: absolute;
        }

        &:after {
            content: "";
            width: $_icon-width;
            height: $_icon-height;
            display: block;
        }

        // nav-panel__link--prev
        &--prev {
            top: prem(10px);
            bottom: auto;

            &:before {
                top: $_icon-border-width;
                transform: rotate(-45deg);
            }
        }

        // avoid firing hash navigation
        // js nav-panel__link
        .js & {
            pointer-events: none;
        }
    }
}