// 
// panels default styles
// 

// test text {
// .test-text {
//     font-size: prem(18px);
//     letter-spacing: -0.028em;
//     line-height: 1.05;
// }

// icon test
@each $icon in map_keys($icons) {
    .#{$icon} {
        width: nth(map-get($icons, $icon), 1);
        height: nth(map-get($icons, $icon), 2);
    }
}

// image test
@each $image in map_keys($images) {
    .#{$image} {
        width: nth(map-get($images, $image), 1);
        height: nth(map-get($images, $image), 2);
    }
}


// .icon-single-test {
//     $_icon-width: nth(map-get($icons, icon-04), 1);
//     $_icon-height: nth(map-get($icons, icon-04), 2);
//     $_new-size: stretchByPercentage($_icon-width, $_icon-height, 45%);

//     width: nth($_new-size, 1);
//     height: nth($_new-size, 2);

//     background-color: pink;
//     font-size: $font-size-xx-small;

//     &:hover {
//         fill: $white;
//         background-color: red;
//     }
// }

// .test-menu-icon {
//     $_icon-width: nth(map-get($icons, icon-07), 1);
//     $_icon-height: nth(map-get($icons, icon-07), 2);
//     $_new-size: stretchByPercentage($_icon-width, $_icon-height, 80%);

//     margin: prem(10px);
//     width: nth($_new-size, 1);
//     height: nth($_new-size, 2);

//     &__icon {
//         width: nth($_new-size, 1);
//         height: nth($_new-size, 2);
//         position: absolute;
//         transition: opacity 300ms ease-in 0ms;

//         .test-menu-icon:hover & {
//             opacity: 0;
//         }
        
//         &--hover {
//             opacity: 0;
//             .test-menu-icon:hover & {
//                 opacity: 1;
//             }
//         }
//     }
// }

// .img-single-test {
//     // stretch by percentage
//     $_img-width: nth(map-get($images, img-04), 1);
//     $_img-height: nth(map-get($images, img-04), 2);
//     $_new-size: stretchByPercentage($_img-width, $_img-height, 21.16402%);

//     width: nth($_new-size, 1);
//     height: nth($_new-size, 2);
//     background-color: red;
// }

// .img-single-test-b {
//     // stretch by size
//     $_img-width: nth(map-get($images, img-04), 1);
//     $_img-height: nth(map-get($images, img-04), 2);
//     $_new-height: 200px;
//     $_new-width: stretchBySize($_img-height, $_img-width, $_new-height);
    
//     content: getPercentageFrom($_new-height, $_img-height);
//     width: $_new-width;
//     height: $_new-height;
//     background-color: red;
// }

// .img-single-test-c {
//     // stretch by size
//     $_img-width: nth(map-get($images, img-03), 1);
//     $_img-height: nth(map-get($images, img-03), 2);
//     $_new-width: 250px;
//     $_new-height: stretchBySize($_img-width, $_img-height, $_new-width);
    
//     content: getPercentageFrom($_new-width, $_img-width);
//     width: $_new-width;
//     height: $_new-height;
//     background-color: red;
// }

.img-masking {
    $_device-set-width: 224px;
    $_device-set-height: 168px;
    
    @include breakpoint((orientation landscape)) {
        width: 60%;
    }
    

    &-inner {


        margin: prem(15px) 0;
        padding-bottom: percentageHeightRatio($_device-set-width, $_device-set-height);
        height: 0;
        position: relative;

        // background-color: pink;
    }

    &__set {
        left: 0;
        top: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    &-large {
        $_device-height: 155px;
        $_device-width: 203px;

        left: 0;
        top: 0;
        width: getPercentageFrom($_device-width, $_device-set-width);
        display: block;
        position: absolute;
        
        &__img {
            left: getPercentageFrom(10px, $_device-width);
            top: getPercentageFrom(12px, $_device-height);
            // width: 100%;
            width: getPercentageFrom(174px, $_device-width);
            height: auto;
            position: absolute;
            border-radius:  2px;
            display: block;
        }
        &__device {
            width: 100%;
            height: auto;
            z-index: 1;
            position: relative;
            display: block;
        }
    }

    &-mobile {
        $_device-width: 74px;
        $_device-height: 144px;

        // margin-top: -100%;
        right: 0;
        top: getPercentageFrom(24px, $_device-set-height);
        width: getPercentageFrom($_device-width, $_device-set-width);
        display: block;
        z-index: 1;
        position: absolute;

        &:before,
        &:after {
            content: "";
            left: 0;
            top: 0;
            height: 0;
            width: 100%;
            padding-bottom: 100%;
            display: block;
            position: absolute;
            border-radius:  getPercentageFrom(7px, $_device-width) getPercentageFrom(7px, $_device-width) 0 0;
            z-index: -1;

            background-color: $dark-goldenrod;
        }

        &:before {
            top: auto;
            bottom: 0;
            transform: rotate(180deg);
        }
        
        &__img {
            left: getPercentageFrom(5px, $_device-width);
            top: getPercentageFrom(14px, $_device-height);
            // width: 100%;
            width: getPercentageFrom(64px, $_device-width);
            height: auto;
            position: absolute;
            border-radius:  2px;
            display: block;
        }
        &__device {
            width: 100%;
            height: auto;
            z-index: 1;
            position: relative;
            display: block;
        }
    }

}

// 
// panels
// 
.panel {
    // panel layout styles defined as part of _layout.scss

    // panel-heading
    &-heading {
    }

    // panel-title
    &-title {
        color: $orange-peel;
    }

    // panel-content
    &-content {
        margin: 0;
        
        // background-color: pink;
    }

    // bottom title
    &:after {
        content: attr(title);
        right: -0.05em;
        bottom: -0.2em;
        max-width: 100%;
        font: bold #{prem(90px)}/1 oswald;
        letter-spacing: -0.03em;
        word-spacing: -0.06em;
        text-transform: uppercase;
        white-space: nowrap;
        position: absolute;
        display: block;
        opacity: 0.04;

        @include breakpoint(map-get($breakpoints, small)) {
            font-size: prem(102px);
        }

        @include breakpoint(map-get($breakpoints, medium)) {
            font-size: prem(148px);
        }

        @include breakpoint(map-get($breakpoints, large)) {
            font-size: prem(200px);
        }

    }
}