// 
// panels default styles
// 

// icon test
@each $icon in map_keys($icons) {
    .#{$icon} {
        width: #{nth(map-get($icons, $icon), 1)};
        height: #{nth(map-get($icons, $icon), 2)};
    }
}

// image test
@each $image in map_keys($images) {
    .#{$image} {
        width: #{nth(map-get($images, $image), 1)};
        height: #{nth(map-get($images, $image), 2)};
    }
}

.icon-single-test {
    $_icon-width: nth(map-get($icons, icon-04), 1);
    $_icon-height: nth(map-get($icons, icon-04), 2);
    $_new-size: stretchByPercentage($_icon-width, $_icon-height, 45%);

    width: nth($_new-size, 1);
    height: nth($_new-size, 2);

    background-color: pink;
}

.img-single-test {
    // stretch by percentage
    $_img-width: nth(map-get($images, img-04), 1);
    $_img-height: nth(map-get($images, img-04), 2);
    $_new-size: stretchByPercentage($_img-width, $_img-height, 21.16402%);

    width: nth($_new-size, 1);
    height: nth($_new-size, 2);
    background-color: red;
}

.img-single-test-b {
    // stretch by size
    $_img-width: nth(map-get($images, img-04), 1);
    $_img-height: nth(map-get($images, img-04), 2);
    $_new-height: 200px;
    $_new-width: stretchBySize($_img-height, $_img-width, $_new-height);
    
    content: getPercentageFrom($_new-height, $_img-height);
    width: $_new-width;
    height: $_new-height;
    background-color: red;
}

.img-single-test-c {
    // stretch by size
    $_img-width: nth(map-get($images, img-03), 1);
    $_img-height: nth(map-get($images, img-03), 2);
    $_new-width: 250px;
    $_new-height: stretchBySize($_img-width, $_img-height, $_new-width);
    
    content: getPercentageFrom($_new-width, $_img-width);
    width: $_new-width;
    height: $_new-height;
    background-color: red;
}


// 
// panels
// 
.panel {
    // panel layout styles defined as part of _layout.scss
    color: $white;

    // panel-heading
    &-heading {
        color: $orange-peel;
        text-shadow: -2px -2px 0 rgba(0, 0, 0, 0.30);
    }

    // panel-title
    &-title {
        color: $orange-peel;
    }

    // panel-content
    &-content {
        margin: 0;
    }

    // bottom title
    &:after {
        content: attr(title);
        right: -0.05em;
        bottom: -0.2em;
        max-width: 100%;
        font: bold #{prem(90px)}/1 oswald;
        letter-spacing: -0.03em;
        word-spacing: -0.06em;
        text-transform: uppercase;
        white-space: nowrap;
        position: absolute;
        display: block;
        opacity: 0.04;

        @include breakpoint(map-get($breakpoints, small)) {
            font-size: prem(102px);
        }

        @include breakpoint(map-get($breakpoints, medium)) {
            font-size: prem(148px);
        }

        @include breakpoint(map-get($breakpoints, large)) {
            font-size: prem(200px);
        }

    }
}