// 
// Skills Panel Styles
//

// skills
.skills {
    padding: 0;
    max-width: none;
}

// skills-expertise
.skills-expertise {
    @extend .column-list;
    @include clearFix;
    
    // max height adjustments
    @include breakpoint(orientation landscape) {
        @include breakpoint(max-width (560px)) {
            column-count: 1;
        }
    }
    
    &:last-child {
        margin-bottom: 0;
    }

    // skills-expertise__item
    &__item {
        @extend .column-list__item;

        &:before {
            @extend %bullets-level-1;
        }
        
        // skills-expertise__item--no-bullet
        &--no-bullet {
            margin: 0;
            padding: 0;

            // remove default bullet list
            &:before {
                display: none;
            }
        }
        
        // skills-expertise__item-text
        &-text {
            padding: 0 prem(8px) 0 0;
            max-width: 60%;
            display: inline-block;
        }
        
        // skills-expertise__item-dots
        &-dots {
            float: right;
        }
    }
}

// expertise-dots
.expertise-dots {
    padding: prem(2px) 0 prem(3px) 0;
    display: block;

    // expertise-dots__dot
    &__dot {
        $_dot-width: prem(12px);
        $_dot-height: $_dot-width;
        $_dot-time: 200ms;
        $_dot-amount: 5;
        $_dot-delay: $_dot-time / ($_dot-amount * 0.65);
        
        margin-left: prem(3px);
        width: $_dot-width;
        height: $_dot-height;
        display: inline-block;
        position: relative;

        &:first-child {
            margin: 0;
        }

        &:before, 
        &:after {
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 2px solid rgba($white, 0.24);
            border-radius: 100%;
            display: block;
            position: absolute;
        }

        &:after {
            display: none;
            z-index: 10;
        }
        
        // expertise-dots__dot--fulfilled
        &--fulfilled {
            &:after {
                border-color: transparent;
                display: block;
                opacity: 0;
                transition: 
                    opacity $_dot-time ease-out;
                background-color: rgba($white, 0.24);
            }

            @for $i from 1 through $_dot-amount {
              $_local-delay: $_dot-delay * ($i - 1);

              &:nth-child(#{$i}):after {
                 transition-delay: $_local-delay;
              }
            }

            // expertise-dots--animated expertise-dots__dot--fulfilled
            .expertise-dots--animated &:after {
                opacity: 1;
            }
        }

        @include breakpoint(map-get($breakpoints, small)) {
            $_dot-width: prem(13px);
            $_dot-height: $_dot-width;
            
            width: $_dot-width;
            height: $_dot-height;
        }

        @include breakpoint(map-get($breakpoints, medium)) {
            $_dot-width: prem(15px);
            $_dot-height: $_dot-width;
            
            margin-left: prem(4px);
            width: $_dot-width;
            height: $_dot-height;
        }

        @include breakpoint(map-get($breakpoints, large)) {
            $_dot-width: prem(20px);
            $_dot-height: $_dot-width;

            width: $_dot-width;
            height: $_dot-height;
        }
    }
}