// 
// Skills Panel Styles
//

// skills
.skills {
    padding: 0;
    max-width: none;
}

// skills-expertise
.skills-expertise {
    margin-bottom: 0;
    @extend .column-list;
    @include clearFix;

    // skills-expertise__item
    &__item {
        margin: 0;
        padding: 0;
        @extend .column-list__item;

        // remove default bullet list
        &:before {
            display: none;
        }
        
        // skills-expertise__item-text
        &-text {
            padding: 0 prem(8px) 0 0;
            max-width: 60%;
            display: inline-block;
        }
        
        // skills-expertise__item-dots
        &-dots {
            float: right;
        }
    }
}

// expertise-dots
.expertise-dots {
    padding: prem(2px) 0 prem(3px) 0;
    display: block;

    // expertise-dots__dot
    &__dot {
        $_dot-width: prem(12px);
        $_dot-height: $_dot-width;
        
        margin-left: prem(3px);
        width: $_dot-width;
        height: $_dot-height;
        border-radius: 100%;
        display: inline-block;
        border: 2px solid rgba($white, 0.24);

        &:first-child {
            margin: 0;
        }
        
        // expertise-dots__dot--fulfilled
        &--fulfilled {
            background-color: rgba($white, 0.24);
        }

        @include breakpoint(map-get($breakpoints, small)) {
            $_dot-width: prem(13px);
            $_dot-height: $_dot-width;
            
            width: $_dot-width;
            height: $_dot-height;
        }

        @include breakpoint(map-get($breakpoints, medium)) {
            $_dot-width: prem(15px);
            $_dot-height: $_dot-width;
            
            margin-left: prem(4px);
            width: $_dot-width;
            height: $_dot-height;
        }

        @include breakpoint(map-get($breakpoints, large)) {
            $_dot-width: prem(20px);
            $_dot-height: $_dot-width;

            width: $_dot-width;
            height: $_dot-height;
        }
    }
}