// 
// sliders default styles
//

// slider
.slider {
    padding: 0;

    // slider-heading
    // padding removed from container 'panel__detail' to accommodate
    // slider screen bleed, headings should maintain this padding
    &-heading {
        margin: 0 auto;
        @extend %panel-hpadding;
    }

    // slider__item
    &__item {
        margin: 0;
        padding: 0;
        position: relative;
        display: flex !important;
        justify-content: center;

        // slider__item-content
        &-content {
            width: 100%;
            @extend %panel-hpadding;
        }
    }

    // slider-arrows
    &-arrows {
        $_icon-width: nth(map-get($icons, ui-icon-slider-arrow), 1);
        $_icon-height: nth(map-get($icons, ui-icon-slider-arrow), 2);
        $_arrow-padding: prem(4px);
        $_arrow-width: prem($_icon-width) + ($_arrow-padding * 2);
        $_arrrow-height: prem($_icon-height) + ($_arrow-padding * 2);

        margin: auto;
        // max-width: prem($site-max-width);
        top: 50%;
        left: 0;
        right: 0;
        width: 100%;
        height: 0;
        position: absolute;
        background-color: orange;

        // slider-arrows__arrow
        &__arrow {
            padding: $_arrow-padding;
            margin-top: -($_arrrow-height / 2);
            top: 0;
            left: prem(12px);
            width: $_arrow-width;
            height: $_arrrow-height;
            display: block;
            position: absolute;
            z-index: 1;
            overflow: hidden;
            @include remove-text;

            // slider-arrows__arrow--next
            &--next {
                right: prem(12px);
                left: auto;
            }
        }

        // slider-arrows__icon
        &__icon {
            left: $_arrow-padding;
            top: $_arrow-padding;
            width: prem($_icon-width);
            height: prem($_icon-height);
            position: absolute;
            transform: scaleX(-1);
            opacity: 0.2;

            // slider-arrows__arrow--next slider-arrows__icon
            .slider-arrows__arrow--next & {
                transform: scaleX(1);
            }

            // slider-arrows__arrow:hover slider-arrows__icon
            .slider-arrows__arrow:hover &,
            .slider-arrows__arrow:active &,
            .slider-arrows__arrow:focus & {
                fill: $white;
                opacity: 0.5;
            }

        }

        @include breakpoint(map-get($breakpoints, small)) {
            $_new-width: 15px;
            $_new-height: stretchBySize($_icon-width, $_icon-height, $_new-width);
            $_arrow-width: prem($_new-width) + ($_arrow-padding * 2);
            $_arrrow-height: prem($_new-height) + ($_arrow-padding * 2);

            // slider-arrows__arrow
            &__arrow {
                left: prem(14px);
                margin-top: -($_arrrow-height / 2);
                width: $_arrow-width;
                height: $_arrrow-height;
            
                // slider-arrows__arrow--next
                &--next {
                    left: auto;
                    right: prem(14px);
                }
            }

            // slider-arrows__icon
            &__icon {
                width: prem($_new-width);
                height: prem($_new-height);
            }
        }

        @include breakpoint(map-get($breakpoints, medium)) {
            $_new-width: 28px;
            $_new-height: stretchBySize($_icon-width, $_icon-height, $_new-width);
            $_arrow-padding: prem(9px);
            $_arrow-width: prem($_new-width) + ($_arrow-padding * 2);
            $_arrrow-height: prem($_new-height) + ($_arrow-padding * 2);

            // slider-arrows__arrow
            &__arrow {
                padding: $_arrow-padding;
                left: prem(31px);
                margin-top: -($_arrrow-height / 2);
                width: $_arrow-width;
                height: $_arrrow-height;
            
                // slider-arrows__arrow--next
                &--next {
                    left: auto;
                    right: prem(31px);
                }
            }

            // slider-arrows__icon
            &__icon {
                left: $_arrow-padding;
                top: $_arrow-padding;
                width: prem($_new-width);
                height: prem($_new-height);
            }
        }

        @include breakpoint(map-get($breakpoints, large)) {
            $_new-width: 38px;
            $_new-height: stretchBySize($_icon-width, $_icon-height, $_new-width);
            $_arrow-padding: prem(12px);
            $_arrow-width: prem($_new-width) + ($_arrow-padding * 2);
            $_arrrow-height: prem($_new-height) + ($_arrow-padding * 2);

            // slider-arrows__arrow
            &__arrow {
                padding: $_arrow-padding;
                left: prem(40px);
                margin-top: -($_arrrow-height / 2);
                width: $_arrow-width;
                height: $_arrrow-height;
            
                // slider-arrows__arrow--next
                &--next {
                    left: auto;
                    right: prem(40px);
                }
            }

            // slider-arrows__icon
            &__icon {
                left: $_arrow-padding;
                top: $_arrow-padding;
                width: prem($_new-width);
                height: prem($_new-height);
            }
        }
    }
}

