// 
// Work Panel Styles
//

// work
.work {
    padding: 0;
    max-width: none;

    // work-disposable
    // not rendered in certain screen sizes
    &-disposable {
        @include breakpoint(map-get($breakpoints, x-small) (max-height 350px)) {
            @include hidden(false);
        }
    }
}

// 
.work-sample {
    display: flex;
    flex-direction: column;

    @include breakpoint((orientation landscape)) {
        flex-direction: row-reverse;
        align-items: center;
    }

    // work-sample__detail
    &__detail {
        $_available-width: 556px; // as per design width (medium breakpoint)
        $_gap: 30px;
        
        font-size: prem($font-size-xxx-small);
        order: 1;

        @include breakpoint(map-get($breakpoints, small)) {
            font-size: prem($font-size-xx-small);
        }

        @include breakpoint(map-get($breakpoints, medium)) {
            padding: 0 30% 0 5%;
            font-size: prem($font-size-x-small);
        }

        @include breakpoint(map-get($breakpoints, large)) {
            font-size: prem($font-size-medium);
        }

        @include breakpoint((orientation landscape)) {
            padding-right: 0;
            padding-left: getPercentageFrom($_gap, $_available-width);
            width: 50%;
            order: 0;
        }

        // work-sample__detail-title
        &-title {
            + p {
                margin-top: prem(2px);
                @include breakpoint(map-get($breakpoints, medium)) {
                    margin-top: prem(4px);
                }
                @include breakpoint(map-get($breakpoints, large)) {
                    margin-top: prem(5px);
                }
            }
        }
        
        // remove last child margin
        *:last-child {
            margin-bottom: 0;
        }
    }
    
    // work-sample__image
    &__image {
        padding-bottom: prem(8px);
        order: 0;

        @include breakpoint(map-get($breakpoints, small)) {
            padding-bottom: prem(11px);
        }

        @include breakpoint(map-get($breakpoints, medium)) {
            padding-bottom: prem(14px);
        }

        @include breakpoint((orientation landscape)) {
            padding-bottom: 0;
            width: 50%;
            order: 1;
        }
    }
}

// 
// sample images
// 

.sample {
    $_device-set-width: 224px;
    $_device-set-height: 168px;

    // sample-image
    &-image {
        padding-bottom: percentageHeightRatio($_device-set-width, $_device-set-height);
        height: 0;
        position: relative;
        
        // sample-image__set
        &__set {
            left: 0;
            top: 0;
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        
        // sample-image-large
        &-large {
            $_device-width: 203px;
            $_device-height: 155px;
            
            
            margin: 0;
            left: 0;
            top: 0;
            width: getPercentageFrom($_device-width, $_device-set-width);
            display: block;
            position: absolute;
            
            // IE 11 renders this awfully
            // On place Image will be used instead
            // $_bkg-image: 'sample-device-large.svg';
            // &:before {
            //     content: "";
            //     display: block;
            //     padding-bottom: percentageHeightRatio($_device-width, $_device-height);
            //     width: 100%;
            //     height: 0;
            //     position: relative;
            //     display: block;
            //     z-index: 1;
            //     background: url($image-url + $_bkg-image) 0 0 no-repeat;
            //     background-size: cover;
            // }
            
            // sample-image-large__img
            &__img {
                left: getPercentageFrom(10px, $_device-width);
                top: getPercentageFrom(12px, $_device-height);
                width: 100%;
                width: getPercentageFrom(174px, $_device-width);
                height: auto;
                position: absolute;
                border-radius:  2px;
                display: block;
            }
            
            // sample-image-large__device
            &__device {
                width: 100%;
                height: auto;
                z-index: 1;
                position: relative;
                display: block;
            }
        }
        
        // sample-image-small
        &-small {
            $_device-width: 74px;
            $_device-height: 144px;
            
            margin: 0;
            right: 0;
            top: getPercentageFrom(24px, $_device-set-height);
            width: getPercentageFrom($_device-width, $_device-set-width);
            display: block;
            z-index: 1;
            position: absolute;

            // IE 11 renders this awfully
            // On place Image will be used instead
            // $_bkg-image: 'sample-device-small.svg';
            // &:before {
            //     content: "";
            //     display: block;
            //     padding-bottom: percentageHeightRatio($_device-width, $_device-height);
            //     width: 100%;
            //     height: 0;
            //     position: relative;
            //     display: block;
            //     z-index: 1;
            //     background: url($image-url + $_bkg-image) 0 0 no-repeat;
            //     background-size: 100%;
            // }

            // sample-image-small__img
            &__img {
                left: getPercentageFrom(5px, $_device-width);
                top: getPercentageFrom(14px, $_device-height);
                // width: 100%;
                width: getPercentageFrom(64px, $_device-width);
                height: auto;
                position: absolute;
                border-radius:  2px;
                display: block;
            }

            // sample-image-small__device
            &__device {
                @extend .sample-image-large__device;
            }
        }
    }
}