//
// Configuration
//
@import '~@styles/config/variables';

//
// Reference Styles
//

body {
  &.reference {
    padding: 15px;
    color: $black;
    background-color: $light-grey;

    //
    // overrides
    //

    // headings
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: $black; // override default color (for legibility)
      text-shadow: none; // remove default shadows
    }

    // ordered lits items
    ol > li {
      &:before {
        color: $black;
      }
    }

    // unordered lists items
    ul > li {
      // bullets
      &:before {
        background-color: $black;
        box-shadow: none;
      }

      // bullets - second level
      ul > li {
        &:before {
          border-color: $black;
        }
      }

      // bullets - third level
      ul > li > ul > li {
        &:before {
          background-color: $black;
        }
      }
    }
  }
}
