//
// layout
//

// set breakpoints to EMS
@if ($debug != true) {
  @include breakpoint-set('to ems', true);
}

html,
body {
  height: 100%;
}

body {
  // overflow: hidden; // comment till panel navigation ready
  background-color: $light-black;

  > div {
    // targets #root container
    min-height: 100%;
    display: flex;
    flex-flow: column;
  }

  // test mediaQueries
  @include queryInfo();
}
